# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore these folders
*.vs
.vs/
bin/
int/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/cl_dll/inputw32 -1.cpp
